:root {
    --bg-primary: #26252C;
    --bg-secondary: #594AB2;
    --color-primary: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Open Sans', Courier, monospace;
    color: var(--color-primary);
}

body {
    background-color: var(--bg-primary);
    overflow: hidden;
}

.container_lp {
    margin: 0 5px;
}

.header_lp {
    margin-top: 236px;
}

.header_lp h1 {
    font-size: 32px;
}

.header_lp p {
    margin: 15px 0;
}

.header_lp button {
    background-color: var(--bg-secondary);
    padding: 16px 24px 16px 16px;
    outline: none;
    border: none;
    border-radius: 10px;
}

.container_lp footer {
    position: fixed;
    bottom: 5px;
}

.container_lp>footer svg {
    margin: 5px;
}

.MuiBottomNavigation-root {
    width: 100vw;
    background-color: var(--bg-secondary) !important;
    position: fixed;
    bottom: 0;
}

.close_add {
    width: 50px;
    height: 50px;
    background-color: var(--bg-secondary);
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px;
    overflow: hidden;
}

.container_todosApp {
    background-color: #000;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.container_noevent {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.body_noevent {
    width: 284px;
    height: 159px;
    background-color: var(--bg-primary);
    display: flex;
    justify-content: center;
    padding-top: 16px;
    border-radius: 10px;
}

.body_noevent section {
    display: flex;
    flex-direction: column;
}

.body_noevent button {
    background-color: var(--bg-secondary);
    padding: 16px;
    outline: none;
    border: none;
    margin-top: 35px;
    border-radius: 10px;
}

.container_user {
    width: 100vw;
    height: 63px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0px;
    background-color: #000;
    z-index: 10;
}

.container_user section {
    display: flex;
    justify-content: space-evenly;
    height: 63px;
    align-items: center;
}

.container_user p {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_form {
    z-index: 5 !important;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

.body_form {
    background-color: var(--bg-secondary);
    width: 327px;
    height: 544px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.title_form {
    text-align: center;
}

.title_form h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.container_submit_form {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.MuiTextField-root {
    background-color: var(--color-primary);
    border-radius: 10px;
}

.MuiBox-root {
    margin-top: 43px;
}

.MuiButton-contained {
    background-color: var(--bg-secondary) !important;
    width: 230px;
    box-shadow: none !important;
    border: 1px solid var(--color-primary) !important;
}

.container_todos_by_actions {
    width: 100vw;
    height: 246px;
    background-color: #000;
    display: block;
    transition: 2s ease display;
}

.button_actions {
    padding-top: 67px;
    display: flex;
    width: 100vw;
    height: 51px;
    justify-content: center;
    background-color: #000;
}

.button_actions div {
    width: 296px;
    background-color: var(--bg-primary);
}

.button_actions button {
    width: 148px;
    background-color: var(--bg-primary);
    outline: none;
    border: none;
    height: 51px;
    border-radius: 10px;
    line-height: 16px;
}

.button_actions_active {
    background-color: var(--bg-secondary) !important;
}

ul li {
    display: inline;
}

.container_list_by_actions {
    background-color: #000;
    width: 360px;
    height: 180px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 25px auto;
    scroll-snap-type: x mandatory;
}

.body_list_by_actions {
    position: relative;
    width: 284px;
    height: 125px;
    margin: 5px;
    text-overflow: ellipsis;
    white-space: normal;
    padding: 16px;
    background-color: var(--bg-primary);
    scroll-snap-align: center;
    border-radius: 10px;
    display: inline-block;
}

.body_list_by_actions p {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.body_list_by_actions section {
    display: flex;
}

.more_vertical_icon:hover {
    cursor: pointer;
}

.more_vertical_icon {
    height: fit-content;
}

.container_more_button_actions {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-radius: 10px;
    background-color: var(--bg-secondary);
}

.container_more_button_actions button {
    background-color: var(--bg-secondary);
    padding: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}

.container_today_task_view_lessen {
    width: 327px;
    height: 80vh;
    background: rgb(37, 0, 255);
    background: linear-gradient(90deg, rgba(37, 0, 255, 1) 0%, rgba(89, 74, 178, 1) 100%);
    margin: 26px auto;
    border-radius: 10px;
    position: relative;
}

.container_today_task_view_expand {
    width: 327px;
    height: 80vh;
    background: rgb(37, 0, 255);
    background: linear-gradient(90deg, rgba(37, 0, 255, 1) 0%, rgba(89, 74, 178, 1) 100%);
    margin: 70px auto;
    border-radius: 10px;
}

.title_task {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.title_task button {
    border: none;
    outline: none;
    background-color: transparent;
}

.body_today_task_view_expand {
    overflow-y: scroll;
    height: 89%;
    padding-bottom: 10px;
}

.body_today_task_view_lessen {
    overflow-y: scroll;
    height: 40%;
    padding-bottom: 10px;
}

.container_today_task {
    display: flex;
    justify-content: center;
}