:root {
    --bg-primary: #26252C;
    --bg-secondary: #594AB2;
    --bg-success: #64dd17;
    --bg-body: #2d2d30;
    --color-primary: #ffffff;

}

* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Open Sans', Courier, monospace;
    color: var(--color-primary);
}

body {
    background-color: var(--bg-body);
    overflow-x: hidden;
}

.sm_800 {
    font-weight: 800 !important;
}

.relative {
    position: relative;
}

.h_full {
    height: 100vh;
}

.section_single_slide_mark {
    height: 100vh;
    overflow-y: scroll;
}

.flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align_center {
    align-items: center;
}

.d-none {
    display: none !important;
}

.container_lp {
    margin: 0 5px;
}

.header_lp {
    margin-top: 236px;
}

.header_lp h1 {
    font-size: 32px;
}

.header_lp p {
    margin: 15px 0;
}

.header_lp button {
    background-color: var(--bg-secondary);
    padding: 16px 24px 16px 16px;
    outline: none;
    border: none;
    border-radius: 10px;
}

.container_lp footer {
    position: fixed;
    bottom: 5px;
}

.container_lp>footer svg {
    margin: 5px;
}

.MuiBottomNavigation-root {
    width: 100vw;
    background-color: var(--bg-secondary) !important;
    position: fixed;
    bottom: 0;
}

.container_todosApp {
    background-color: var(--bg-body);
    width: 100vw;
    height: 100vh;
    position: relative;
}

.container_bottom_navigation {
    width: 100vw;
    height: 90px;
    display: fixed;
    bottom: 0;
    background-color: var(--bg-secondary);
    position: absolute;
    z-index: 9;
}

.container_bottom_navigation div {
    display: flex;
    justify-content: space-evenly;
    height: 90px;
    align-items: center;
}

.container_bottom_navigation button {
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active {
    opacity: 1;
}

.text_center {
    text-align: center;
}

.not_active {
    opacity: 0.5;
}

.text_decoration_none {
    text-decoration: none;
}

.container_noevent {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: inherit;
    margin-bottom: 80px;
}

.body_noevent {
    width: 284px;
    height: 159px;
    background-color: var(--bg-primary);
    display: flex;
    justify-content: center;
    padding-top: 16px;
    border-radius: 10px;
}

.body_noevent section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 
.more_vertical_icon:hover {
    cursor: pointer;
} */
.checkbox_card {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 10;
}

.checked {
    accent-color: #64dd17 !important;
}

.line_through {
    text-decoration: line-through;
}

.body_noevent button {
    background-color: var(--bg-secondary);
    padding: 16px;
    outline: none;
    border: none;
    margin-top: 35px;
    border-radius: 10px;
}

.container_user {
    width: 100vw;
    height: 63px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    background-color: var(--bg-secondary);
    z-index: 10;
}

.container_user section {
    display: flex;
    justify-content: space-evenly;
    height: 63px;
    align-items: center;
}

.container_user p {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_form {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 100px;
    height: fit-content;
}

.body_form {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin-bottom: 72px;
}

.body_form div {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.body_form input,
.input_as_input {
    width: 80vw;
    height: 32px;
    background-color: var(--bg-body);
    outline: none;
    border: none;
    border-bottom: 1px solid var(--color-primary);
    color: var(--color-primary);
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

.body_form .input_as_input {
    margin-top: 8px;
}

.title_form {
    text-align: center;
}

.title_form h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.container_submit_form {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 63px;

}

.submit_form {
    background-color: var(--bg-secondary) !important;
    width: 100vw;
    box-shadow: none !important;
    height: 63px;
}

.container_todos_by_actions {
    width: 100vw;
    height: max-content;
    margin: auto;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow-y: scroll;
}

.button_actions {
    margin-top: 68px;
    display: flex;
    width: 100vw;
    height: 63px;
    justify-content: center;
    background-color: var(--bg-body);
}


.button_actions div {
    width: max-content;
    height: max-content;
    background-color: var(--bg-primary);
    border-radius: 10px;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_actions button {
    width: 148px;
    background-color: var(--bg-primary);
    outline: none;
    border: none;
    height: 51px;
    border-radius: 10px;
    line-height: 16px;
}

.button_actions_active {
    background-color: var(--bg-secondary) !important;
}

.card_events {
    width: 100vw;
    overflow-x: hidden;
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color: var(--bg-body);
    margin-top: 10px;

}

.container_list_by_actions {
    background-color: var(--bg-body);
    width: 360px;
    height: 180px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 75px auto;
    scroll-snap-type: x mandatory;
    position: absolute;
}

.body_list_by_actions {
    position: relative;
    width: 284px;
    height: fit-content;
    margin: 5px;
    text-overflow: ellipsis;
    white-space: normal;
    padding: 16px;
    scroll-snap-align: center;
    border-radius: 10px;
    display: inline-block;
    z-index: 1;
}

ul>li:last-child {
    margin-bottom: 100px;
}

.bg_primary {
    background-color: var(--bg-primary);
}

.bg_success {
    background-color: var(--bg-success);
}

.body_list_by_actions p {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.body_list_by_actions section {
    display: flex;
}

.container_more_button_actions button {
    background-color: var(--bg-secondary);
    padding: 16px;
    outline: none;
    border: none;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
}

.container_today_task_view_lessen {
    width: 327px;
    background: rgb(37, 0, 255);
    background: linear-gradient(90deg, rgba(37, 0, 255, 1) 0%, rgba(89, 74, 178, 1) 100%);
    margin: 0 auto 0;
    border-radius: 10px;
    position: relative;
}

.title_task {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.title_task button {
    border: none;
    outline: none;
    background-color: transparent;
}


.body_today_task_view_lessen {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    height: 50vh;
    overflow-y: scroll
}

.success_svg {
    fill: #64dd17 !important;
}

.container_today_task {
    display: flex;
    justify-content: center;
    margin-top: 36vh;
}

.container_calendar {
    width: 100vw;
    margin-top: 76px;
    display: flex;
    justify-content: center;
}

.container_button_back {
    display: flex;
    flex-direction: row;
    height: 63px;
    align-items: center;
    width: 100vw;
    background-color: var(--bg-secondary);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.container_button_back_detail {
    display: flex;
    justify-content: space-between;
    height: 63px;
    width: 100vw;
    background-color: var(--bg-secondary);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.button_back_title {
    display: flex;
    flex-direction: row;
    height: 63px;
    align-items: center;
}

.container_icon_title {
    display: flex;
    flex-direction: row;
    height: 63px;
    align-items: center;
    justify-content: center;
}

.container_icon_title button {
    height: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    margin-right: 16px;
    background-color: transparent;
    border: none;
}

.button_back {
    background-color: transparent;
    width: 63px;
    height: 63px;
    outline: none;
    border: none;
}

.container_new_task {
    width: 100vw;
    height: 100vh;
}

.sticky_top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    width: 100vw;
    z-index: 20;
}

.container_button_add_todo_home {
    position: absolute;
    width: 116px;
    right: 16px;
    bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-secondary);
    padding: 16px;
    border-radius: 10px;
    z-index: 11;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;


}

.container_button_add_todo_home button {
    background-color: var(--bg-secondary);
    outline: none;
    border: none;
    border-radius: 10px;
    line-height: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container_button_add_todo_detail_event {
    position: fixed;
    bottom: 0;
    height: 63px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    background-color: var(--bg-secondary);
}

.container_button_add_todo_detail_event button {
    background-color: transparent;
    outline: none;
    border: none;
    width: 100vw;
    height: 63px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container_button_add_todo_detail_event button span,
.container_button_add_todo_home button span {
    margin-left: 5px;
}

.container_detail_event {
    height: 100vh;
    overflow-y: scroll;
}

.container_card_detail {
    height: fit-content;
    margin-top: 20px;
    margin-bottom: 83px;
}

.MuiDateCalendar-root {
    background-color: var(--bg-body) !important;
    color: var(--color-primary) !important;
}

.container_events_calendar {
    position: absolute;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    top: 50vh;
    margin-bottom: 200px;
    height: 100%;
}

.title_date {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    position: -webkit-sticky;
    position: sticky;
    margin-top: 0px;
    z-index: 20 !important;
    height: 63px;
    background-color: var(--bg-secondary);
}

.body_events_calendar {
    width: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.uncompleted_events {
    width: 284px;
    height: 248px;
}

.good_job {
    text-align: center;
    margin: 50px;
}

/* successChecAnimations */
.container_success_checkmark {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: var(--bg-body);
}

.success-checkmark {
    width: 80px;
    height: 115px;
    margin: 0 auto;

    .check-icon {
        width: 80px;
        height: 80px;
        position: relative;
        border-radius: 50%;
        box-sizing: content-box;
        border: 4px solid var(--bg-secondary);

        &::before {
            top: 3px;
            left: -2px;
            width: 30px;
            transform-origin: 100% 50%;
            border-radius: 100px 0 0 100px;
        }

        &::after {
            top: 0;
            left: 30px;
            width: 60px;
            transform-origin: 0 50%;
            border-radius: 0 100px 100px 0;
            animation: rotate-circle 4.25s ease-in;
        }

        &::before,
        &::after {
            content: '';
            height: 100px;
            position: absolute;
            background: var(--bg-body);
            transform: rotate(-45deg);
        }

        .icon-line {
            height: 5px;
            background-color: var(--bg-secondary);
            display: block;
            border-radius: 2px;
            position: absolute;
            z-index: 10;

            &.line-tip {
                top: 46px;
                left: 14px;
                width: 25px;
                transform: rotate(45deg);
                animation: icon-line-tip 0.75s;
            }

            &.line-long {
                top: 38px;
                right: 8px;
                width: 47px;
                transform: rotate(-45deg);
                animation: icon-line-long 0.75s;
            }
        }

        .icon-circle {
            top: -4px;
            left: -4px;
            z-index: 10;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: absolute;
            box-sizing: content-box;
            border: 4px solid rgba(89, 74, 178, .5);
        }

        .icon-fix {
            top: 8px;
            width: 5px;
            left: 26px;
            z-index: 1;
            height: 85px;
            position: absolute;
            transform: rotate(-45deg);
            background-color: var(--bg-body);
        }
    }
}

@keyframes rotate-circle {
    0% {
        transform: rotate(-45deg);
    }

    5% {
        transform: rotate(-45deg);
    }

    12% {
        transform: rotate(-405deg);
    }

    100% {
        transform: rotate(-405deg);
    }
}

@keyframes icon-line-tip {
    0% {
        width: 0;
        left: 1px;
        top: 19px;
    }

    54% {
        width: 0;
        left: 1px;
        top: 19px;
    }

    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }

    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }

    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}

@keyframes icon-line-long {
    0% {
        width: 0;
        right: 46px;
        top: 54px;
    }

    65% {
        width: 0;
        right: 46px;
        top: 54px;
    }

    84% {
        width: 55px;
        right: 0px;
        top: 35px;
    }

    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}